# CDK
**/cdk.out/
**/*.d.ts
**/*.js
!**/jest.config.js

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/crash.log

# Node
**/node_modules/
npm-debug.log*

# Python
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/

# OS / editor
.DS_Store
.vscode/
.idea/

# Secrets / local env
**/.env
**/.env.*
!**/.env.example
